.fa, .fa-solid {
    color: #fff;
}

.full-modal .fixed.z-40.flex.items-end {
    align-items: center;
}

.basic-single {
    color: #000;
}


.basic-single .select__menu {
    z-index: 99;
}

.select__indicator.select__dropdown-indicator {
    color: #262626;
}